<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ag.channel.mapper.MenuInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.ag.channel.model.MenuInfo">
        <id column="id" property="id" />
        <result column="menu_name" property="menuName" />
        <result column="menu_code" property="menuCode" />
        <result column="parent_id" property="parentId" />
        <result column="deleted" property="deleted" />
        <result column="menu_url" property="menuUrl" />
    </resultMap>

</mapper>
